.div1{
    display: inline; 
    float : left; 
    margin-left :50px; 
    margin-top:20px;
}
.div2{
    display: inline; 
    float:left; 
    margin-left:20px; 
    font-size : 17px;
}
.div3{
    display: inline; 
    float:right; 
    margin-right:50px; 
    font-size: 17px; 
    text-align:right;
}
.article{
    float: left; 
    margin-left:50px;

}
.div4{
    font-size: 17px;
}
.div5{
    float: left; 
    margin-left:50px;
}
.div6{
    float: right; 
    margin-right: 10px;
}
.div7{
    margin-right: 3%;
}
.div8{
    margin-right: 3%;
}
.div9{
    float: right; 
    margin-right:10px;
}